.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 100%;
    max-width: 100px;
  }
}


footer {
    padding: 40px 0;
    background: #f0f1f4;
}

@media (max-width:500px ){
    .footer-top {
        flex-direction: column;
        img {
            margin-bottom: 20px;
        }
    }
}